@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Potta One", cursive;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container img {
  padding: 10px;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title h2 {
  font-size: 2em;
  font-weight: 400;
}

.theme-selector--container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.dark-theme--mode {
  transition: all 0.5s;
  background-color: #0d1117;
  color: #fff;
}

.light-theme--mode {
  transition: all 0.5s;
  background-color: #fff;
  color: black;
}

.theme-button-dark {
  background-image: url("https://img.icons8.com/dusk/64/000000/new-moon.png");
  background-repeat: no-repeat;
  transition: all 0.5s;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.theme-button-light {
  background-image: url("https://img.icons8.com/dusk/64/000000/summer.png");
  background-repeat: no-repeat;
  transition: all 0.5s;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

footer {
  color: #fff;
  background-color: black;
  text-align: center;
  padding: 10px;
}

footer h5,
a {
  font-family: "Roboto", sans-serif;
  color: white;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: columns;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .container img {
    max-width: 150px;
    max-height: 150px;
  }

  .theme-selector--container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}
